################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQ-/obj
/.vs/RabbitMQ-Publisher
**/obj/**
**/bin/**
